---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="dark:bg-slate-900 dark:text-white container mx-auto px-4">
        <Header />
        <main>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li class="my-8">
                                <a href={`/blog/${post.slug}/`}>
                                    <div class="flex flex-col md:flex-row flex-wrap">
                                        <img
                                            class="w-full md:w-48 md:h-48 object-cover rounded-lg"
                                            src={post.data.heroImage}
                                            alt={post.data.title}
                                        />
                                        <div class="flex flex-col md:pl-4 my-2">
                                            <h4 class="text-xl font-bold">{post.data.title}</h4>
                                            <p>
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
